<html>

<body>
    <script type="module" src="./buttons.mjs"></script>
    <script type="module" src="./div.mjs"></script>

    <publish-button publish-channel=testchannel publish-payload="this is a payload">
        Publish a message
    </publish-button>

    <br />

    <psjs-element>
        test
    </psjs-element>

    <!--
    <warning-div
        subscribe="sub1, psjs-mychannel, (sender, payload) => { this.setContent(`Buttonpush message recieved from [${sender.innerHTML}]: ${payload}`) }">
        Push this warning-button
    </warning-div>
    -->

    <navbar-top> </navbar-top>
</body>

</html>